body{
  background-color: black;
  position: relative;
  animation-name: movimiento;
  animation-duration: 4s;
  animation-delay: 2s;
}

/* Standard syntax */
@keyframes movimiento {
  0%   {top:0px;}
  25%  {top:0px;}
  50%  {top:200px;}
  75%  {top:200px;}
  100% {top:0px;}
}

@font-face {
font-family: 'Dancing Script', cursive;
font-style: normal;
font-weight: normal;
src: url("https://fonts.googleapis.com/css?family=Dancing+Script&display=swap");
}

.emcabezado {
  color: white !important;
  padding: 3px 10px;
	border-radius: 10px;
  align-items: center;
	background: -webkit-linear-gradient(right, #5b7989 , #5b7989);
	background: -o-linear-gradient(right, #5b7989 , #5b7989);
	background: -moz-linear-gradient(right, #5b7989 , #5b7989);
	background: linear-gradient(to right, #5b7989 , #5b7989);
}

h1{
  color: white !important;
  text-align: left;
  font-size: 40px;
  font-family: letra1;
}

.emcabezado a{
  color: white !important;
}

.menu {
	text-align: right;
  font-size: 20px;
  color: white !important;

}
.img_principal{
  overflow: hidden;
  background-color: #d5c75f ;
}
.img_secundaria{
  overflow: hidden;
  padding: 5px 10px;
  background-color: #d5c75f ;
}
div #contenido{
  margin:10px auto;
  max-width: 900px;
  background-color: #82c3a6;
}
.img_principal  #derecha{
  width: 30%;
  float: right;
  background-color: #d5c75f ;
}
.img_principal  #centro{
  width: 30%;
  float: right;
  background-color: #d5c75f ;
}
.img_principal  #izquierda{
  width: 30%;
  float: right;
  background-color: #d5c75f ;
}
.img_secundaria  #derecha{
  width: 30%;
  float: right;
  background-color: #d5c75f ;
}
.img_secundaria  #centro{
  width: 30%;
  float: right;
  background-color: #d5c75f ;
}
.img_secundaria  #izquierda{
  width: 30%;
  float: right;
  background-color: #d5c75f ;
}

.img_principal img{
    margin: 10px auto;
}

.img_secundaria img{
    margin: 10px auto;
}

/*APLICACION DE EFECTO A IMAGENES POR COLORES*/
.img_principal #img1 { filter: blur(10px);}
.img_principal #img2 {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
.img_principal #img3 {
  -webkit-filter: sepia(90%);
  -moz-filter: sepia(90%);
  -ms-filter: sepia(90%);
  -o-filter: sepia(90%);
  filter: sepia(90%);
}
.img_secundaria #img4 {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.img_secundaria #img6 {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

@media screen and (max-width:900px) {
  /* resolucion mayor a 900px destokp */

}
@media screen and (min-width:900px) {
  /* resolucion menor a 900px movil */
}

.pagina_pie {
list-style: none;
overflow: hidden;
padding: 5px 10px;
border-radius: 10px;
background-color: #C6d5c5 !important;
}

footer{
clear: both;
overflow: hidden;
}

footer>div:nth-child(2) {
float: left;
}

.pagina_pie .title {
padding-bottom: 5px;
font-weight: bold;
}

li {
display: list-item;
text-align: -webkit-match-parent;
}

.pagina_pie ul {
float: left;
list-style: none;
margin: 0px;
padding-top: 15px;
padding-left: 100px;
text-align: left;
}

.menu{
  transform: translate(-40px, -50px);
}
